extends layout

block head
        meta(name='viewport' content='width=device-width, initial-scale=1')
        link(rel='stylesheet' href='/stylesheets/catalogCreation.css')
        script(src='/javascripts/catalogCreation.js')
        title Edit Catalog

block content
    // Side bar
    .sidenav
        a#home
            i.material-icons home
            |  Home
        a#mycatalogs(style='background-color: #FFDE59;')
            i.material-icons collections_bookmark
            |  My Catalogs
        a#following
            i.material-icons person
            |  Following
        a#trending
            i#trendingicon.material-icons trending_up
            |  Trending
    .main
        .grid-container
            .grid-item
                .catalog(id="catalog")
                    input.catalog_title(type='text' placeholder='Add Title')
                    input.catalog_link(type='text' placeholder='Add Link')
                    input.catalog_description(type='text' placeholder='Add Description')
                    button.catalog_add(type='button' id='save')
                        img(src='https://image.flaticon.com/icons/png/512/32/32360.png' style='width:30px;height:30px;')
                    button.add_links(type='button' id='addLinks')
                    p.catalog_s  
                    p
                .catalog_image