extends layout

block head
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href='/stylesheets/editingCatalog.css')
    script(src='/javascripts/catalogCreation.js')
    script(src='/javascripts/editCatalog.js')
    title Edit Catalog

block content
    // Side bar
    .sidenav
        a#home
            i.material-icons home
            |  Home
        a#mycatalogs(style='background-color: #FFDE59;')
            i.material-icons collections_bookmark
            |  My Catalogs
        a#following
            i.material-icons person
            |  Following
        a#trending
            i#trendingicon.material-icons trending_up
            |  Trending
    .main
        .grid-container
            .grid-item
                .catalog(id="catalog")
                .catalog_entry(id="catalog_entry")
                .catalog_image
                    button.catalog_add(type='button' id='saveEdit') Save New Edits
                    button.add_links(type='button' id='addLinksEdit') Add New Link