extends layout

block head
    title Homepage
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href='/stylesheets/homepage.css')
    script(src='/javascripts/catalogClickHandler.js')
    script(src='/javascripts/homepageCatalogs.js')

block content
  // Side bar
  .sidenav   
    button#home(style='background-color: #FFDE59;', type='button')

      i.material-icons home
      |  Home
    button#mycatalogs
      i.material-icons collections_bookmark
      |  My Catalogs
    button#following
      i.material-icons person
      |  Following
    button#trending
      i#trendingicon.material-icons trending_up
      |  Trending
  .main
    h3#title2 
    .grid-container#catContainer2


    h3#title3 
    .grid-container#catContainer3

