extends layout

block head
    title Homepage
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href='/stylesheets/homepage.css')

block content
  // Side bar
  .sidenav   
    a#home(style='background-color: #FFDE59;')

      i.material-icons home
      |  Home
    a#mycatalogs
      i.material-icons collections_bookmark
      |  My Catalogs
    a#following
      i.material-icons person
      |  Following
    a#trending
      i#trendingicon.material-icons trending_up
      |  Trending
  .main
    h3#title Loading...
    .grid-container
      .grid-item
        .catalog
          p#setTitle1.set-title Set Title
          p#setLink1.set-link X links
          p#setAuthor1.set-author Author
        #setImage1.image
        a.fill-div(href='#')
      .grid-item
        .catalog
          p#setTitle2.set-title Set Title
          p#setLink2.set-link X links
          p#setAuthor2.set-author Author
        #setImage2.image
        a.fill-div(href='#')
      .grid-item
        .catalog
          p#setTitle3.set-title Set Title
          p#setLink3.set-link X links
          p#setAuthor3.set-author Author
        #setImage3.image
        a.fill-div(href='#')
      .grid-item
        .catalog
          p#setTitle4.set-title Set Title
          p#setLink4.set-link X links
          p#setAuthor4.set-author Author
        #setImage4.image
        a.fill-div(href='#')
      .grid-item
        .catalog
          p#setTitle5.set-title Set Title
          p#setLink5.set-link X links
          p#setAuthor5.set-author Author
        #setImage5.image
        a.fill-div(href='#')
      .grid-item
        .catalog
          p#setTitle6.set-title Set Title
          p#setLink6.set-link X links
          p#setAuthor6.set-author Author
        #setImage6.image
        a.fill-div(href='#')
    h3#title Loading...
    .grid-container
      .grid-item
        .catalog
          p#setTitle7.set-title Set Title
          p#setLink7.set-link X links
          p#setAuthor7.set-author Author
        #setImage7.image
        a.fill-div(href='#')
      .grid-item
        .catalog
          p#setTitle8.set-title Set Title
          p#setLink8.set-link X links
          p#setAuthor8.set-author Author
        #setImage8.image
        a.fill-div(href='#')
      .grid-item
        .catalog
          p#setTitle9.set-title Set Title
          p#setLink9.set-link X links
          p#setAuthor9.set-author Author
        #setImage9.image
        a.fill-div(href='#')
      .grid-item
        .catalog
          p#setTitle10.set-title Set Title
          p#setLink10.set-link X links
          p#setAuthor10.set-author Author
        #setImage10.image
        a.fill-div(href='#')
      .grid-item
        .catalog
          p#setTitle11.set-title Set Title
          p#setLink11.set-link X links
          p#setAuthor11.set-author Author
        #setImage11.image
        a.fill-div(href='#')
      .grid-item
        .catalog
          p#setTitle12.set-title Set Title
          p#setLink12.set-link X links
          p#setAuthor12.set-author Author
        #setImage12.image
        a.fill-div(href='#')
