doctype html
html
  head
    link(rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons')
    link(rel='stylesheet' href='/stylesheets/darkLayout.css' id="dark_mode")
    link(rel='stylesheet' href='/stylesheets/layout.css' id="light_mode")
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')
    script(src='/javascripts/searchBar.js')
    
    script.
      function darkLoad(){
         $('body').hide();
        $.get("/settings/list", function(settings) {
          const night_mode = settings["Night_Mode"];
          if(night_mode){
            $("#dark_mode").prop("disabled", false)
            $("#light_mode").prop("disabled", true)
          }
          else{
            $("#dark_mode").prop("disabled", true)
            $("#light_mode").prop("disabled", false)
            
          }
           $('body').show();
        });
      }
    block head
  body(
    onload="darkLoad()"
  )
    .topnav
      img(src='/Logo_white.svg' alt='LINKSPACE')
      button#create(type='button') Create
      i#account.material-icons.dropbtn account_circle
      .searchbar
        i#searchmag.material-icons search
        input#search(type='text' name='search' placeholder='Search')
    #dropdown-menu.dropdown-content
      p
        strong#currentUsername Username
      p#profile Profile
      p#settings Settings
      p#logout Logout
      br
    block content