extends layout

block head
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href='/stylesheets/trendingStyle.css')
    script(src='/javascripts/catalogClickHandler.js')
    script(src='/javascripts/yourCatalog.js')

block content
    // Side bar
    .sidenav
        button#home
          i.material-icons home
          |  Home
        button#mycatalogs(style='background-color: #FFDE59;')
          i.material-icons collections_bookmark
          |  My Catalogs
        button#trending
          i#trendingicon.material-icons trending_up
          |  Trending
    // Credit goes to Kai Vickers for creating code for tiles
    #trenddiv.main
        h3#title 
        .grid-container#catContainer
            