extends layout

block head
    title Search Template
    style.
      .content {
        margin-left: 160px;
        margin-top: -40px;
      }
      table {
        border: 1px solid #dddddd;
        font-family: arial, sans-serif;
        border-collapse: separate;
        border-spacing: 30px 30px;
        border-radius: 10px;
        margin-left:50px;
        margin-top: 30px;
        width: 80%;
        height: 80%;
        background-color: rgb(255, 255, 255);
      }
      img {
        border-radius: 10px;
        border: 1px solid #dddddd;
      }
      h3 {
        margin-left: 210px;
        margin-top: 30px;
        font-size: 40px;
      }
      .row {
        display: flex;
        margin-left:-5px;
        margin-right:-5px;
      }
      .column {
        flex: 50%;
        padding: 50px;
      }
      td .title {
        font-size: 15px;
      }
      td, th {
        text-align: left;
        overflow: hidden;
        white-space: nowrap;
        padding: 8px;
        left: 40 px;
      }

block content
  // Side bar
  .sidenav
    button#home
      i.material-icons home
      |  Home
    button#mycatalogs
      i.material-icons collections_bookmark
      |  My Catalogs
    button#trending
      i#trendingicon.material-icons trending_up
      |  Trending
  br
  h3 Search Results
  br
  .content
    .row
      .col
        table
          tbody
            tr
              td
                b
                  span(style='font-size:30px') Set Title
                br
                |  Link1
                br
                |  Link2
                br
                |  Link 3
              td
                img(src='https://i.pinimg.com/originals/bf/56/5b/bf565b8639d145cda3b68d89955df46c.jpg' alt='recipes' style='width:100px;height:100px;')
      .col
      .col
        table
          tbody
            tr
              td
                b
                  span(style='font-size:30px') Set Title
                br
                |  Link1
                br
                |  Link2
                br
                |  Link 3
              td
                img(src='https://www.eatwell101.com/wp-content/uploads/2012/11/VINTAGE-RECIPE-HOLDER.jpg' alt='recBook' style='width:100px;height:100px;')
    .row
      .col
        table
          tbody
            tr
              td
                b
                  span(style='font-size:30px') Set Title
                br
                |  Link1
                br
                |  Link2
                br
                |  Link 3
              td
                img(src='https://www.thirtyhandmadedays.com/wp-content/uploads/2014/07/recipe-book-kids.jpg' alt='famRec' style='width:100px;height:100px;')
      .col
      .col
        table
          tbody
            tr
              td
                b
                  span(style='font-size:30px') Set Title
                br
                |  Link1
                br
                |  Link2
                br
                |  Link 3
              td
                img(src='https://previews.123rf.com/images/pixelbliss/pixelbliss1110/pixelbliss111000074/11026838-recipe-book-and-ingredients.jpg' alt='favRec' style='width:100px;height:100px;')
  p 1, 2, 3...
