extends layout

block head
	title Signup
	meta(name='viewport' content='width=device-width, initial-scale=1')
	link(rel='stylesheet' href='/stylesheets/logInSignUp.css')
	script(src='/javascripts/signup.js')

block content
	.sidenav
		button#home(type='button')
			i.material-icons home
			|  Home
		button#trending(type='button')
			i#trendingicon.material-icons trending_up
			|  Trending
	.main
		.loginForm
			h3 Sign Up
			| Username
			input.login#username(type='text')
			br

			| 				Password
			input.login#password(type='password')
			br
			button.button#submit Sign Up
			br
			a
				button#login(style='margin-top: 20px') Already have an account? Log in here
