extends layout

block head
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href='/stylesheets/trendingStyle.css')

block content
    // Side bar
    .sidenav
        a#home
          i.material-icons home
          |  Home
        a#mycatalogs
          i.material-icons collections_bookmark
          |  My Catalogs
        a#following
          i.material-icons person
          |  Following
        a#trending(style='background-color: #FFDE59;')
          i#trendingicon.material-icons trending_up
          |  Trending
    // Credit goes to Kai Vickers for creating code for tiles
    #trenddiv.main
        h3#trend Loading...
        .grid-container
            .grid-item
                .catalog
                    p.set-title Set Title
                    p.set-link X links
                    p.set-author Author
                .image
                a.fill-div(href='#')
            .grid-item
                .catalog
                    p.set-title Set Title
                    p.set-link X links
                    p.set-author Author
                .image
                a.fill-div(href='#')
            .grid-item
                .catalog
                    p.set-title Set Title
                    p.set-link X links
                    p.set-author Author
                .image
                a.fill-div(href='#')
            .grid-item
                .catalog
                    p.set-title Set Title
                    p.set-link X links
                    p.set-author Author
                .image
                a.fill-div(href='#')
            .grid-item
                .catalog
                    p.set-title Set Title
                    p.set-link X links
                    p.set-author Author
                .image
                a.fill-div(href='#')
            .grid-item
                .catalog
                    p.set-title Set Title
                    p.set-link X links
                    p.set-author Author
                .image
                a.fill-div(href='#')
            .grid-item
                .catalog
                    p.set-title Set Title
                    p.set-link X links
                    p.set-author Author
                .image
                a.fill-div(href='#')
            .grid-item
                .catalog
                    p.set-title Set Title
                    p.set-link X links
                    p.set-author Author
                .image
                a.fill-div(href='#')
            .grid-item
                .catalog
                    p.set-title Set Title
                    p.set-link X links
                    p.set-author Author
                .image
                a.fill-div(href='#')
            .grid-item
                .catalog
                    p.set-title Set Title
                    p.set-link X links
                    p.set-author Author
                .image
                a.fill-div(href='#')
            .grid-item
                .catalog
                    p.set-title Set Title
                    p.set-link X links
                    p.set-author Author
                .image
                a.fill-div(href='#')
            .grid-item
                .catalog
                    p.set-title Set Title
                    p.set-link X links
                    p.set-author Author
                .image
                a.fill-div(href='#')
            .grid-item
                .catalog
                    p.set-title Set Title
                    p.set-link X links
                    p.set-author Author
                .image
                a.fill-div(href='#')
            .grid-item
                .catalog
                    p.set-title Set Title
                    p.set-link X links
                    p.set-author Author
                .image
                a.fill-div(href='#')
            .grid-item
                .catalog
                    p.set-title Set Title
                    p.set-link X links
                    p.set-author Author
                .image
                a.fill-div(href='#')
