
#account {
  font-size: 40px;
}

.dropbtn {
  border: none;
  background-color: #00C2CB;
  float: right;
  text-align: center;
  padding: 8px;
  padding-left: 8px;
  padding-right: 16px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  cursor: pointer;
}

h1 {
    color: black;
}

::placeholder {
    color: grey;
}

strong {
    color: black;
}
.dropdown-content {
  display: none;
  background-color: white;
  min-width: 140px;
  box-shadow: 3px 3px 5px grey;
  float: right;
  margin-top: 14px;
  margin-right: 20px;
  border-radius: 10px;
}

.dropdown-content p {
  color: black;
  text-decoration: none;
  display: block;
  text-align: right;
  padding-right: 10px;
  padding-top: 8px;
  cursor: pointer;
}

.show {display: block;}
.main {
  	margin-left: 250px;
  	padding: 0px 10px;
}

body {
	background-color: #F4F4F4;
}

.settings { 
	#background-color: #00C2CB;
	border-radius: 10px;
	height: 300px;
	display: grid;
	grid-template-columns: 200px 500px;
	width: 500px;
	text-align: center;
	margin-bottom: 10px;
	margin-top: 14px;
	margin-left: 15px;
	color: white;
}
.firstColumn {
	float: right;
	text-align: left;
	padding-left: 10px
}

.secondColumn { 
	float: left;
	padding-top: 10px;
}

.buttonContainer {
	display: grid;
	grid-row-gap: 30px;
	color: #FFDE59;
}

.middleColumn {
	padding-left: 220px;
}

h1 {
	text-align: center;
	padding-left: 180px;
}

input {
	background-color: #FFDE59;
	border-radius: 5px;
}

