
#account {
  font-size: 40px;
}



h1 {
    color: black;
}

::placeholder {
    color: grey;
}

strong {
    color: black;
}


.show {display: block;}
.main {
  	margin-left: 250px;
  	padding: 0px 10px;
}



.settings {
    align-self: center;
    background-color: #00C2CB;
    border-radius: 10px;
    height: 680px;
    display: block;
    width: 500px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 450px;
    color: white;
}
.firstColumn {
    float: left;
    text-align: left;
    padding-left: 10px;
}

.secondColumn {
    float: left;
    padding-top: 70px;
    padding-bottom: 20px;
}

.buttonContainer {
    display: grid;
    grid-row-gap: 30px;
    color: #FFDE59;
}

.middleColumn {
    padding-left: 200px;
    width: 10%;
    height: 4%;
}

h1 {
    text-align: center;
}

input {
    border-radius: 5px;
    width: 150%;
    height: 150%;
}

    input:checked {
        background-color: #FFDE59;
    }



