@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  background-color: #121C22;
}

#title{
  color: white;
}

#title2 {
  color: white;
}

#title3{
  color: white;
}

#trend{
  color: white;
}

img {
  float: left;
  color: #121C22;
  padding-left: 14px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 8px;
  width: 140px;
  height: 36px;
}

div.topnav {
  overflow: hidden;
  background-color: #2D3137;
  position: relative;
  z-index: 1;
}

div.topnav a {
  float: left;
  color: #121C22;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
}

div.topnav #create {
  color: black;
  border-radius: 30px;
  background-color: #d8d5d5;

  border: none;
  font-family: 'Raleway', sans-serif;
  font-size: 17px;
  margin-top: 12px;
  width: 80px;
  height: 30px;
  cursor: pointer;
  outline: none;
}

.searchbar {
  color: #ffffff;
  background-color: grey;
  border-color: #2D3137;
  float: right;
  border-radius: 10px;
  font-family: 'Raleway', sans-serif;
  text-align: left;
  margin-top: 14px;
  width: 170px;
}

#search {
  color: #ffffff;
  background-color: grey;
  float: right;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  border: none;
  text-align: inherit;
  border-radius: 10px;
  width: 140px;
  margin-top: 4px;
  margin-bottom: 4px;
  outline: none;
}

#searchmag {
  font-size: 14px;
  vertical-align: middle;
  padding-left: 8px;
  padding-right: 0px;
  padding-top: 5px;
}

::placeholder {
  color: #ffffff;
}

input:-webkit-autofill {
 
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: white;
}

.sidenav {
  height: 100%;
  width: 160px;
  position: absolute;
  left: 0;
  background-color: grey;
  overflow-x: hidden;
  padding-top: 7px;
  z-index: 0;
}

.sidenav button {
  padding: 12px 10px 10px 16px;
  text-decoration: none;
  font-size: 16px;
  color: #000000;
  display: block;
  border: none;
  background-color: grey;
  width: 160px;
  outline: none;
  text-align: left;
  cursor: pointer;
}

.sidenav a {
  padding: 12px 10px 10px 16px;
  text-decoration: none;
  font-size: 16px;
  color: #000000;
  display: block;
  border: none;
  background-color: white;
  width: 160px;
  outline: none;
  text-align: left;
  cursor: pointer;
}

.sidenav button:hover {
  background-color: #FFDE59;  
}

div.topnav #create:hover{ 
  background-color: #FFDE59;  
  box-shadow: 4px 4px 4px grey;
 }

.main {
  margin-left: 160px;
  padding: 0px 10px;
}

.material-icons {
  font-size: 20px;
  padding-right: 10px;
  vertical-align: middle;
  float: left;
}

#trendingicon {
  font-weight: bold;
}

#account {
  font-size: 40px;
}

.dropbtn {
  border: none;
  background-color: #2D3137;
  float: right;
  text-align: center;
  padding: 8px;
  padding-left: 8px;
  padding-right: 16px;
  text-decoration: none;
  color: grey;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  background-color: grey;
  min-width: 140px;
  box-shadow: 3px 3px 5px grey;
  position: absolute;
  top:4%;
  right:0;
  margin-top: 14px;
  margin-right: 20px;
  border-radius: 10px;
  z-index: 5;
}

.dropdown-content p {
  color: black;
  text-decoration: none;
  display: block;
  text-align: right;
  padding-right: 10px;
  padding-top: 8px;
  cursor: pointer;
}

.dropdown-content p:hover{  
  background-color: #FFDE59;   
  cursor: pointer;
}


.show {display: block;}
