.grid-container {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-column-gap: 18px;
    grid-row-gap: 16px;
    padding-left: 40px;
    margin-right: 160px;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 3px 3px 5px grey;
    height: 120px;
    width: auto;
    overflow: hidden;
}

.grid-item:hover{
    cursor: pointer;
    background-color: rgba(218, 216, 216, 0.925);
    box-shadow: 10px 10px 10px grey;
  }

.catalog {
    float: left;
}

#title {
    padding-left: 40px;
    padding-top: 12px;
    font-weight: lighter;
}

.set-title {
    font-size: 20px;
    font-weight: bold;
    padding-left: 16px;
    padding-top: 14px;
    padding-bottom: 6px;
}

.set-link {
    padding-left: 16px;
    font-weight: lighter;
    font-size: 14px;
}

.set-author {
    padding-left: 16px;
    font-weight: lighter;
    font-size: 14px;
}

.image {
    height: 90px;
    width: 80px;
    background-color: rgb(187, 184, 184);
    border-radius: 8px;
    margin-top: 18px;
    margin-bottom: 6px;
    margin-right: 16px;
    float: right;
}

#catalogtitle {
    text-align: left;
    font-size: 18px;
}

p {
    margin: 2px;
}

a.fill-div {
    display: block;
    height: 100%;
    width: 100%;
}
