:root {
	--backgroundColor1: #4992a7;
  --backgroundColor: #A6ACEC;
	--hoverColor: #ffe2e2;
	--borderColor: #f6f6f6;
	--headerColor: #b7ebde;
}

td, th{
  border: 1px solid #dddddd;
  text-align: right;
  padding: 8px;
}

h3 {
	margin-right: 15px;
}


.btn-group button {
  background-color: var(--backgroundColor);
  font-family: arial;
  border: 10px solid var(--headerColor);
  text-align: center;
  font-size: 15px;
  color: white; /* White text */
  padding: 10px; /*Some padding */
  cursor: pointer; /* Pointer/hand icon */
  width: 100%; /* Set a width if needed */
  display: block; /* Make the buttons appear below each other */
  position: relative;

}

.btn-group button:not(:last-child) {
  border-bottom: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: var(--hoverColor);
}
/* .rectangle {
  text-align: center;
  border: 5px solid var(--headerColor);
  height: 100px;
  width: 100px;
  background-color: var(--hoverColor);
} */
